button {
    margin: 10px 0 10px 10px;
    padding: 10px;
    background-color: blue;
    color: #ffff;
    border: 1px solid blue;
}

button:hover {
    background-color: green;
    border: 1px solid green;
    cursor: pointer;
    outline: 0;
}